/* Colors */
:root {
  //Primary
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);

  //Neutral
  
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);

  --color-error: #FF5959;

  --color-white: hsla(360, 100%, 100%, 1);
}